html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

@media only screen and (min-width:651px) {
  body * {
    font-size: 100%;
  }
  .content{
      background-color: white;
  }

}
 
@media only screen and (min-width:961px) {
  body * {
    font-size: 120%;
  }
  .content{
      background-color: white;
  }

}

